.bloc-admin-glaces {
  flex: 1;
  border: 1px solid #b8742a;
  padding: 28px 42px 34px;
  min-height: 760px;
  box-sizing: border-box;
  background-color: rgba(122, 74, 23, 0.35);
  width: 100%;
}

.titre-admin-conteneur-glaces {
  font-size: 24px;
  color: var(--color-text-quaternary);
  margin: 0 0 42px;
  text-align: center;
  text-shadow: 0.1em 0.1em rgb(94, 94, 94);
}

.conteneur-admin-glaces-liste {
  column-count: 2;
  column-gap: 7rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.conteneur-admin-glaces-liste li {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  line-height: 1.35;
  margin-bottom: 22px;
  color: var(--color-text-quaternary);
  break-inside: avoid;
}
