.font-image-glace {
  background: linear-gradient(
    to right,
    var(--color-background) 0%,
    var(--color-background) 40%,
    #7b4f23 100%
  );
  width: 50%;
  height: 690px;
  position: relative;
  top: -16px;
  overflow: hidden;
}

.deuxieme-font-image-glace {
  background-color: var(--color-background-secondary);
  border-radius: 50%;
  width: 65%;
  height: 75%;
  position: absolute;
  top: 12%;
  left: 15%;
}

.troisieme-font-image-glace {
  background: color-mix(
    in srgb,
    var(--color-background-secondary) 90%,
    white 5%
  );
  border-radius: 50%;
  width: 53%;
  height: 62%;
  position: absolute;
  top: 19%;
  left: 20%;
}

.image-presentation {
  width: 350px;
  height: auto;
  position: absolute;
  top: 48%;
  left: 24%;
  transform: translateY(-50%);
  z-index: 2;
}
